PORT = 3000
DATABASE_URL=postgres://user:password@host:port/dbname
# Opcional (si no se usa DATABASE_URL):
DB_USER=user
DB_PASSWORD=user
DB_HOST=localhost
DB_NAME=ecommerce
DB_PORT=5432

JWT_SECRET=mi_secreto

STRIPE_SECRET_KEY=sk_test...
STRIPE_WEBHOOK_SECRET=whsec_test...
FRONTEND_URL=http://localhost:5173


GOOGLE_CLIENT_ID=424242_test...
GOOGLE_CLIENT_SECRET=GOCSPX-test...


RESEND_API_KEY=resend_api
RESEND_EMAIL=resend_email
